<% @users.each do | user | %>
    <div class="all-user-container">
    <div class="user-img-container">
    <img src="<%= user.photo %>" />
    </div>

    <div class="user-detail-container">
    <h3><%= user.first_name %> <%= user.last_name %></h3>
    <h4><%= user.email %></h4>
    <p><%= user.address %></p>
    </div>
    </div>
    <% end %>
