<div class="current-user">
    <div class="user-img">
        <img src="<%= @user.photo %>" alt="">
    </div>
        <p><%= @user.first_name %> <%= @user.last_name %></p>
    <div class="user-details">
        <p><%= @user.age %></p>
        <p><%= @user.email %></p>
        <p><%= @user.address %></p>
    </div>    
    </div>